.footer {
  background-color: #111;
  color: #777;
  padding: 40px 20px;
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-links li {
  cursor: pointer;
  font-size: 0.9rem;
}


.footer main {
  background-color: black;
  color: gray;
  padding: 40px;
  font-size: 14px;
}

.footer-call {
  margin-bottom: 20px;
}

.footer-call a {
  color: gray;
  text-decoration: underline;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-columns ul {
  list-style: none;
  padding: 0;
  margin: 0 20px 20px 0;
  min-width: 150px;
}

.footer-columns li {
  margin-bottom: 12px;
}

.footer-columns a {
  color: gray;
  text-decoration: none;
}

.footer-columns a:hover {
  text-decoration: underline;
}
